header ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border-radius: 1.5em;
    border-width: 0.25;
    border-color: #111;
    border-style: dotted;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

header li {
    float: left;
    border-right: 1px solid #bbb;
}

header li:last-child {
    border-right: none;
}

header li a img {
    vertical-align: middle;
    height: 1em;
}

header li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

header li a:hover:not(.active) {
    background-color: #adadad;
}

header {
    border-color: #111;
    border-radius: 1.25em;
}

#hero {
    position: relative;
    border-radius: 12px;
    padding: 3rem;
    background-size: cover;
    background-position: center;
    background-image: url('../assets/skater.gif');
    width: 70vw;
    height: 70vh;
    margin: 0 auto;
    justify-content: center;
    /* for centering */
    align-items: center;
    display: flex;
    margin-top: 3rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#hero #info {
    width: 40rem;
    height: 20rem;
    border-style: solid;
    border-radius: 1.5rem;
    background: linear-gradient(to bottom left, rgba(255, 255, 255, 0.838), rgba(97, 97, 97, 0.25));
    text-align: center;
    justify-content: center;
    /* for centering */
    align-items: center;
    display: flex;
    flex-direction: column;
    /* by default flex aligns items horizontally */
}

#info h1 {
    font-size: 2.5rem;
}

#info button {
    padding: 0.5rem;
    font-size: 1em;
    border-radius: 1.25rem;
}

#info button:hover {
    background-color: #adadad;
}


/* implementing moving gradient border from this video: https://youtu.be/8NfafU1BgaY */

@property --angle {
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: true;
}

@keyframes rotate {
    to {
        --angle: 1turn;
    }
}


.signUp {
    border: 4px solid transparent;
    background: linear-gradient(white) padding-box, conic-gradient(from var(--angle), green, red, green) border-box;
    animation: rotate 7s linear infinite;
    /* animation-play-state: paused; */
}

.signUp:hover,
.signUp:focus-visible {
    /* animation-play-state: running; */
}